/* box shadows graciously stolen from https://getcssscan.com/css-box-shadow-examples */

* {
    box-sizing: border-box;
}

:root {
    --primary: rgb(63, 10, 116);
    --secondary: rgb(58, 9, 204);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: white;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 3rem;
    padding: 10px;
    box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: var(--secondary);
}

nav>button {
    border: none;
    border-radius: 10px;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    &:active {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}