/* box shadows graciously stolen from https://getcssscan.com/css-box-shadow-examples */

* {
    box-sizing: border-box;
}

:root {
    --primary: rgb(63, 10, 116);
    --secondary: rgb(58, 9, 204);
    --nav-height: 3rem;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: white;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}

.h100 {
    height: 100%;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: var(--nav-height);
    padding: 10px;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: var(--secondary);
    border-bottom: 2px rgba(0, 0, 0, 0.16) solid;
}

nav>button {
    border: none;
    border-radius: 10px;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    &:active {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

.moneyPanel {
    position: fixed;
    bottom: 5px;
    left: 5px;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

#moneyDisplay::after {
    content: ' moners';
}

#shop {
    background-color: blue;
    height: fit-content;
}

#home {
    background-color: brown;
}

#shopPetContainer,
#ownedPets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.shopPet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30dvw;
    padding: 10px;
    
    &>img {
        object-fit: cover;
        aspect-ratio: 1;
        border: white 15px outset;
    }
}

@media (max-width: 750px) {
    .shopPet {
        width: 45dvw;
    }
}

.shopBuyButton {
    width: 100%;
    margin-block-start: 10px;
    font-size: larger;
}